.main-raised {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.main {
    background: #FFFFFF;
    position: relative;
    z-index: 3;
}

footer{
	
	font-family: sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.42857143;
    padding: 10px 0;
    margin: 0px 8%;
}

.main .section-basic {
    padding-top: 15px;
}

.section {
    padding: 70px 0;
}

body{
	
	font-family: 'arial';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	
	font-weight: 500;
}

.inline-block{
	
	display: inline-block;
}

.div-derecha{
	
	float: right;
}

.btn-observacion{
	
	color: #28a745;
    background: transparent;
}

.btn-observacion:hover{
	
	border-color: #28a745;
}


.fa.fa-edit{
	
	font-size: 18px;
}

.loader {
		border: 5px solid #f3f3f3;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        border-top: 5px solid #ff6b15;
        border-right: 5px solid #ff6b15;
        border-bottom: 5px solid #ff6b15;
        border-radius: 50%;
        width: 30px;
        height: 30px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-centrar-vertical{
	
	display: inline-block;
    margin-left: 15px;
    vertical-align: middle;	
}

textarea.observacion{
	
	width: 250px;
    height: 80px;
    min-height: 80px;
    max-height: 150px;
}

.display-none{
	
	display: none;
}
