<div>

	<!-- Formulario registro ficha-instructor -->
	<form id="formRegistroFi">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-6 m-b-1">
				<label for="txtNumeroFichaFi">Ficha</label> 
				<input class="form-control auto-completar-ficha" type="number" id="txtNumeroFichaFi" name="txtNumeroFichaFi" />
			</div>
			<div class="col-xs-12 col-md-6 col-lg-6 m-b-1">
				<label for="txtNombreCompletoInstructorFi">Instructor</label>
				<input class="form-control auto-completar-instructor" type="text" id="txtNombreCompletoInstructorFi" name="txtNombreCompletoInstructorFi" />
			</div>
			<div class="col-xs-12 col-md-6 col-lg-6 m-b-1">
				<label for="selectDetalleEstadoFi">Estado</label>
				<select class="form-control" id="selectDetalleEstadoFi" name="selectDetalleEstadoFi"></select>
			</div>
		</div>

		<br />
		
		<button id="btnRegistrarFi" class="btn btn-success" type="submit">Registrar</button>

		<div id="loaderRegistroFi" class="loader-centrar-vertical">

		</div>

	</form>
	<!-- Cierre formulario registro ficha-instructor -->

	<hr />
	<br /> <br />

	<!-- Filtro ficha-instructor -->
	<form id="formFiltroFi">
		<div class="row fila-filtro">
			<div class="col-xs-12 col-sm-1 m-b-1 text-xs-center text-sm-left">
				<i class="fa fa-search" aria-hidden="true"></i>
			</div>
			<div class="col-sm-5 col-lg-4 m-b-1">
				<label for="txtNumeroFichaFiFiltro">Ficha</label> 
				<input class="form-control auto-completar-ficha" type="number" id="txtNumeroFichaFiFiltro" name="txtNumeroFichaFiFiltro" />
			</div>
			<div class="col-sm-6 col-lg-4 m-b-1">
				<label for="txtNombreCompletoInstructorFiFiltro">Instructor</label>
				<input class="form-control auto-completar-instructor" type="text" id="txtNombreCompletoInstructorFiFiltro" name="txtNombreCompletoInstructorFiFiltro" />
			</div>
			<div class="col-xs-12 col-sm-12 col-lg-3 offset-sm-1 offset-lg-0">
				<button id="btnFiltrarFi" class="btn btn-info col-xs-5 col-sm-2 col-lg-6 m-b-1" type="submit">Filtrar</button>
				<button id="btnRefrescarFiltroFi" class="btn btn-secondary refrescar-filtro col-xs-2 col-sm-1 col-lg-3 m-b-1" type="reset">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</form>
	<!-- Cierre filtro ficha-instructor -->

	<br/>

	<!-- Tabla ficha-instructor -->
	<div class="table-scroll clearfix">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="th-contador">#</th>
					<th>Ficha</th>
					<th>Instructor</th>
					<th>Estado</th>
					<th class="text-xs-center" style="min-width: 9rem;">Opciones</th>
				</tr>
			</thead>

			<tbody id="cuerpoTablaFi">



			</tbody>

		</table>
		<div id="loaderTablaFi"></div>
		<div id="alertaTablaFi" class="container"></div>
		<input id="txtIdFichaFiViejo" value="0" type="hidden" />
		<input id="txtIdInstructorFiViejo" value="0" type="hidden" />
	</div>
	<!-- Cierre tabla ficha-instructor -->
	<br/>

	<!-- Modal modificar ficha-instructor -->
	<div class="modal fade" id="modalModificarFi" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
		data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<center>
						<h4>Modificar</h4>
					</center>
				</div>
				<div class="modal-body">

					<!-- Formulario modificar ficha-instructor -->
					<form id="formModificarFi">
						<div class="row">
							<div class="col col-sm-12 p-b-1">
								<label for="txtNumeroFichaFiMod">Ficha</label> 
								<input class="form-control auto-completar-ficha" type="number" id="txtNumeroFichaFiMod" name="txtNumeroFichaFiMod" />
							</div>
							<div class="col col-sm-12 p-b-1">
								<label for="txtNombreCompletoInstructorFiMod">Instructor</label>
								<input class="form-control auto-completar-instructor" type="text" id="txtNombreCompletoInstructorFiMod" name="txtNombreCompletoInstructorFiMod" />
							</div>
							<div class="col col-sm-12 p-b-1">
								<label for="selectDetalleEstadoFiMod">Estado</label>
								<select class="form-control" id="selectDetalleEstadoFiMod" name="selectDetalleEstadoFiMod"></select>
							</div>
						</div>
						
						<br />
						<div class="modal-footer">
							<button type="submit" class="btn btn-info"
								id="btnConfirmarModificarFi">Guardar cambios</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Cancelar</button>
							<div id="loaderModificarFi" class="loader-centrar-vertical"></div>
						</div>
					</form>
					<!-- Cierre formulario modificar ficha-instructor -->

				</div>
			</div>
		</div>
	</div>
	<!-- Cierre modal modificar ficha-instructor -->
</div>


<script src="js/administrador/componentes/asignar-ficha-instructor.js"></script>


