<div>

	<!-- Formulario registro evaluacion -->
	<form id="formRegistroEvaluacion">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-6 m-b-1">
				<label for="selectDetallePeriodoEvaluacion">Periodo</label>
				<select class="form-control" id="selectDetallePeriodoEvaluacion" name="selectDetallePeriodoEvaluacion"></select>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-6 m-b-1">
				<label for="selectDetalleTipoFormacionEvaluacion">Tipo formacion</label>
				<select class="form-control" id="selectDetalleTipoFormacionEvaluacion" name="selectDetalleTipoFormacionEvaluacion"></select>
			</div>
		</div>

		<br />
		
		<button id="btnRegistrarEvaluacion" class="btn btn-success" type="submit">Registrar</button>
		<div id="loaderRegistroEvaluacion" class="loader-centrar-vertical"></div>
	</form>
	<!-- Cierre formulario registro evaluacion -->

	<hr/>
	<br/><br/>

	<!-- Filtro evaluacion -->
	<form id="formFiltroEvaluacion">
		<div class="row fila-filtro">
			<div class="col-xs-12 col-sm-12 col-lg-3 offset-sm-1 offset-lg-0">
				<button id="btnFiltrarFi" class="btn btn-info col-xs-5 col-sm-2 col-lg-6 m-b-1" type="submit">Filtrar</button>
				<button id="btnRefrescarFiltroFi" class="btn btn-secondary refrescar-filtro col-xs-2 col-sm-1 col-lg-3 m-b-1" type="reset">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</form>
	<!-- Cierre filtro evaluacion -->

	<br/>

	<!-- Tabla evaluacion -->
	<div class="table-scroll clearfix">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="th-contador">#</th>
					<th>Aprendiz</th>
					<th>Instructor</th>
					<th>Pregunta</th>
					<th>Periodo</th>
					<th>Estado</th>
					<th>Respuesta</th>
					<th>Observaciones</th>
					<th>Fecha</th>
					<th class="text-xs-center" style="min-width: 9rem;">Opciones</th>
				</tr>
			</thead>

			<tbody id="cuerpoTablaEvaluacion">



			</tbody>

		</table>
		<div id="loaderTablaEvaluacion"></div>
		<div id="alertaTablaEvaluacion" class="container"></div>
	</div>
	<!-- Cierre tabla evaluacion -->

</div>


<script src="js/administrador/componentes/gestionar-evaluacion.js"></script>


