<!-- Desarrollado por ADSI - 1197515: Nicolas Montoya, Jorge Toledo  -->
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>FORMATO EVALUACION DEL INSTRUCTOR POR EL APRENDIZ -  CIES SEDE INDUSTRIA</title>
      <link rel="icon" type="image/png" href="img/lapis.png" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
      <link rel="stylesheet" href="css/bootstrap.min.css" />
	  <link rel="stylesheet" href="css/aprendiz/styles.css" />
	  <link rel="stylesheet" href="fonts/font-awesome.min.css" />
   </head>
   <body style="background-color: #CCCCCC;">

		<div class="main main-raised">
			<div class="section section-basic"></div>
			<center><h5>FORMATO EVALUACION DEL INSTRUCTOR POR EL APRENDIZ</h5></center>
			<center><h6>SENA - Centro de la Industria, la Empresa y los Servicios - Sede Industria</h6></center>
			
			<br/>
			<br/>
			
			<div class="container">
			
				<div class="row card">
				   <div class="col-lg-9" style="margin-top: 25px;" id="pregunta1">
				      <p>1 ) El instructor evidencia la planeación de la formación
				         (Fases de Proyecto, actividades del proyecto, competencias y
				         resultados).
				      </p>
				   </div>
				   <div class="col-lg-3">
					   	<div class="div-derecha">
					   		<div class="custom-control custom-radio inline-block">
							  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" />
							  <label class="custom-control-label" for="customRadio1">SI</label>
							</div>
							&nbsp;
							<div class="custom-control custom-radio inline-block">
							  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
							  <label class="custom-control-label" for="customRadio2">NO</label>
							</div>
							<button class="btn btn-observacion"><i class="fa fa-edit"></i></button>
							
					   	</div>
				   </div>
				</div>
			</div>
			
			<br/>
		</div>
		
		<footer class="footer">
				<nav class="pull-left">
				</nav>
				<div class="copyright pull-center">
				<b>SENA - Centro de la Industria, la Empresa y los Servicios - Sede Industria</b><br/>© 2017 Copyright - Desarrollado por ADSI-1197515
					
				</div>
		</footer>

   </body>

</html>