<!-- Desarrollado por ADSI - 1197515: Nicolas Montoya, Jorge Toledo  -->
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>FORMATO EVALUACION DEL INSTRUCTOR POR EL APRENDIZ -  CIES SEDE INDUSTRIA</title>
<link rel="icon" type="image/png" href="assets/img/lapis.png" >

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />



<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />

<!--     Fonts and icons     -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link
	href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Roboto+Condensed"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

<!-- CSS Files -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/material-kit.css" rel="stylesheet" />

<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="assets/css/demo.css" rel="stylesheet" />

</head>

<body class="index-page"><font face="arial">
	<!-- Navbar -->
	
	

	<div class="main main-raised">
		<div class="section section-basic"></div>
		<center><h3>FORMATO EVALUACION DEL INSTRUCTOR POR EL APRENDIZ</h3></center>
		<br>
		<center><h3>SENA - Centro de la Industria, la Empresa y los Servicios - Sede Industria</h3></center>
		<br> <br> <br>
		
		<div class="container" style="">
			
			<div class="row"> 
								
				<div class="alert alert-success col-lg-7" role="alert" id="nombreInstructor" style="color : black; background-color: #d7f3cc;">
					
  					<div id="nombre-ficha"></div>
  					
  					<div id="instructor"></div>
  										
				</div>
				<div id="mensajeInstructor" class="col-lg-5">
				
				</div>
				
			</div>
			
		</div>
		
		<br> <br> <br>



		<div class="container">

			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta1">
					<p >1 ) El instructor evidencia la planeación de la formación
						(Fases de Proyecto, actividades del proyecto, competencias y
						resultados).</p>
				</div>

				<div class="col-lg-3">
					<p class="td-actions text-right" >
						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('1si')" >
							<i><div class="radio">
									<label> <input id="respuesta1si" type="radio" value="1" name="respuesta1">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('1no')">
							<i><div class="radio">
									<label> <input id="respuesta1no" type="radio" value="0"  name="respuesta1">
										No
									</label>
								</div></i> 								
						</button>						
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion1" onclick="mostrar(1)">
							<i class="fa fa-edit"></i>
						</button>
						
						<div id="observacion1">
							<textarea id="txtObservacion1" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion1" onclick="ocultar(1)" class="btn">Aceptar</button>
						</div>
						
					</p>
					<div id="mensaje1" style="width: 200px;"></div>
				</div>
			</div>

			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta2">

					<p>2 ) El instructor organiza el ambiente de aprendizaje, de
						acuerdo a la actividad a desarrollar.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('2si')">
							<i><div class="radio">
									<label> <input id="respuesta2si" type="radio" value="1" name="respuesta2">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('2no')">
							<i><div class="radio">
									<label> <input id="respuesta2no" type="radio" value="0" name="respuesta2">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion2" onclick="mostrar(2)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion2">
							<textarea id="txtObservacion2" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion2" class="btn" onclick="ocultar(2)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje2" style="width: 200px;"></div>
				</div>
			</div>

			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta3" >

					<p>3 ) El instructor evidencia, socializa y desarrolla el
						programa de formación a través de guías de aprendizaje.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('3si')">
							<i><div class="radio">
									<label> <input id="respuesta3si" type="radio" value="1" name="respuesta3">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('3no')">
							<i><div class="radio">
									<label> <input id="respuesta3no" type="radio" value="0" name="respuesta3">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion3" onclick="mostrar(3)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion3">
							<textarea id="txtObservacion3" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion3" class="btn" onclick="ocultar(3)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje3" style="width: 200px;"></div>
				</div>
			</div>

			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta4">

					<p>4 ) Si la respuesta anterior es afirmativa, la guía de
						aprendizaje integrada se desarrolla basadas en tecnicas didacticas
						activas como por ejemplo: foros, juego de roles, plenarias,
						talleres, estudios de casos, mesa redonda, etc.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('4si')" id="btnRespuesta4si">
							<i><div class="radio">
									<label> <input id="respuesta4si" type="radio" value="1" name="respuesta4">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('4no')" id="btnRespuesta4no" >
							<i><div class="radio">
									<label> <input id="respuesta4no" type="radio" value="0" name="respuesta4">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion4" onclick="mostrar(4)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion4">
							<textarea id="txtObservacion4" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion4" class="btn" onclick="ocultar(4)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje4" style="width: 200px;"></div>
				</div>
			</div>

			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta5">

					<p>5 ) Se evidencia la utilización de por lo menos dos, de las
						cuatro fuentes del conocimiento en la ejecución de las actividades
						de aprendizaje.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('5si')">
							<i><div class="radio">
									<label> <input id="respuesta5si" type="radio" value="1" name="respuesta5">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('5no')">
							<i><div class="radio">
									<label> <input id="respuesta5no" type="radio" value="0" name="respuesta5">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion5" onclick="mostrar(5)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion5">
							<textarea id="txtObservacion5" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion5" class="btn" onclick="ocultar(5)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje5" style="width: 200px;"></div>
				</div>
			</div>


			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta6">

					<p>6 ) El instructor aplica instrumentos de evaluación coherentes
						con las evidencias de aprendizaje.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('6si')">
							<i><div class="radio">
									<label> <input id="respuesta6si" type="radio" value="1" name="respuesta6">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('6no')">
							<i><div class="radio">
									<label> <input id="respuesta6no" type="radio" value="0" name="respuesta6">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion6" onclick="mostrar(6)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion6">
							<textarea id="txtObservacion6" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion6" class="btn" onclick="ocultar(6)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje6" style="width: 200px;"></div>
				</div>
			</div>

			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta7">

					<p>7 ) Reconoce, valida y retroalimenta evidencias de
						aprendizaje.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('7si')">
							<i><div class="radio">
									<label> <input id="respuesta7si" type="radio" value="1" name="respuesta7">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('7no')">
							<i><div class="radio">
									<label> <input id="respuesta7no" type="radio" value="0" name="respuesta7">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion7" onclick="mostrar(7)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion7">
							<textarea id="txtObservacion7" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion7" class="btn" onclick="ocultar(7)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje7" style="width: 200px;"></div>
				</div>
			</div>

			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta8">

					<p>8 ) El instructor plantea estrategias para identificar,
						evaluar y resolver problemas</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('8si')">
							<i><div class="radio">
									<label> <input id="respuesta8si" type="radio" value="1" name="respuesta8">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('8no')">
							<i><div class="radio">
									<label> <input id="respuesta8no" type="radio" value="0" name="respuesta8">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion8" onclick="mostrar(8)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion8">
							<textarea id="txtObservacion8" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion8" class="btn" onclick="ocultar(8)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje8" style="width: 200px;"></div>
				</div>
			</div>


			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta9">

					<p>9 ) Realiza seguimiento de apoyo a los aprendices con
						dificultades.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('9si')">
							<i><div class="radio">
									<label> <input id="respuesta9si" type="radio" value="1" name="respuesta9">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('9no')">
							<i><div class="radio">
									<label> <input id="respuesta9no" type="radio" value="0" name="respuesta9">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion9" onclick="mostrar(9)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion9">
							<textarea id="txtObservacion9" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion9" class="btn" onclick="ocultar(9)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje9" style="width: 200px;"></div>
				</div>
			</div>


			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta10">

					<p>10 ) Demuestra dominio técnico y seguridad en el desarrollo
						del acto pedagógico</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('10si')">
							<i><div class="radio">
									<label> <input id="respuesta10si" type="radio" value="1" name="respuesta10">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('10no')">
							<i><div class="radio">
									<label> <input id="respuesta10no" type="radio" value="0" name="respuesta10">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion10" onclick="mostrar(10)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion10">
							<textarea id="txtObservacion10" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion10" class="btn" onclick="ocultar(10)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje10" style="width: 200px;"></div>
				</div>
			</div>

			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta11">

					<p>11 ) Fovorece la ralación teórico-practica en la formación.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('11si')">
							<i><div class="radio">
									<label> <input id="respuesta11si" type="radio" value="1" name="respuesta11">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('11no')">
							<i><div class="radio">
									<label> <input id="respuesta11no" type="radio" value="0" name="respuesta11">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion11" onclick="mostrar(11)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion11">
							<textarea id="txtObservacion11" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion11" class="btn" onclick="ocultar(11)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje11" style="width: 200px;"></div>
				</div>
			</div>


			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta12">

					<p>12 ) Motiva a los aprendices en el uso de las TIC, para el
						desarrollo del programa de formación.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('12si')">
							<i><div class="radio">
									<label> <input id="respuesta12si" type="radio" value="1" name="respuesta12">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('12no')">
							<i><div class="radio">
									<label> <input id="respuesta12no" type="radio" value="0" name="respuesta12">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion12" onclick="mostrar(12)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion12">
							<textarea id="txtObservacion12" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion12" class="btn" onclick="ocultar(12)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje12" style="width: 200px;"></div>
				</div>
			</div>

			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta13">

					<p>13 ) Cumple el horario concertado para el desarrollo de la
						formación.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('13si')">
							<i><div class="radio">
									<label> <input id="respuesta13si" type="radio" value="1" name="respuesta13">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('13no')">
							<i><div class="radio">
									<label> <input id="respuesta13no" type="radio" value="0" name="respuesta13">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion13" onclick="mostrar(13)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion13">
							<textarea id="txtObservacion13" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion13" class="btn" onclick="ocultar(13)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje13" style="width: 200px;"></div>
				</div>
			</div>


			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta14">

					<p>14 ) Maneja información con ética .</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('14si')">
							<i><div class="radio">
									<label> <input id="respuesta14si" type="radio" value="1" name="respuesta14">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('14no')">
							<i><div class="radio">
									<label> <input id="respuesta14no" type="radio" value="0" name="respuesta14">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion14" onclick="mostrar(14)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion14">
							<textarea id="txtObservacion14" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion14" class="btn" onclick="ocultar(14)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje14" style="width: 200px;"></div>
				</div>
			</div>


			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta15">

					<p>15 ) Motiva a la concertación de decisiones en la solución de
						problemas..</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('15si')">
							<i><div class="radio">
									<label> <input id="respuesta15si" type="radio" value="1" name="respuesta15">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('15no')">
							<i><div class="radio">
									<label> <input id="respuesta15no" type="radio" value="0" name="respuesta15">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion15" onclick="mostrar(15)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion15">
							<textarea id="txtObservacion15" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion15" class="btn" onclick="ocultar(15)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje15" style="width: 200px;"></div>
				</div>
			</div>


			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta16">

					<p>16 ) Practica el diálogo y la escucha activa en un ambiente de
						respeto mutuo.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('16si')">
							<i><div class="radio">
									<label> <input id="respuesta16si" type="radio" value="1" name="respuesta16">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('16no')">
							<i><div class="radio">
									<label> <input id="respuesta16no" type="radio" value="0" name="respuesta16">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion16" onclick="mostrar(16)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion16">
							<textarea id="txtObservacion16" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion16" class="btn" onclick="ocultar(16)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje16" style="width: 200px;"></div>
				</div>
			</div>


			<div class="row card">
				<div class="col-lg-9" style="margin-top: 25px;" id="pregunta17">

					<p>17 ) Aplica el reglamento del aprendiz SENA.</p>
				</div>

				<div class="col-lg-3">


					<p class="td-actions text-right">


						<button type="button" rel="tooltip" 
							class="btn btn-info btn-simple btn-xs" onclick="seleccionar('17si')">
							<i><div class="radio">
									<label> <input id="respuesta17si" type="radio" value="1" name="respuesta17" required="required">
										Si
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" 
							class="btn btn-danger btn-simple btn-xs" onclick="seleccionar('17no')">
							<i><div class="radio">
									<label> <input id="respuesta17no" type="radio" value="0" name="respuesta17">
										No
									</label>
								</div></i>
						</button>
						<button type="button" rel="tooltip" title="Escriba la observacion" 
							class="btn btn-success btn-simple btn-xs" id="btnObservacion17" onclick="mostrar(17)">
							<i class="fa fa-edit"></i>
						</button>
						<div id="observacion17">
							<textarea id="txtObservacion17" rows="" cols="" style="width: 250px; height: 100px; max-width: 250px; min-width: 250px; max-height: 150px; min-height: 100px;" ></textarea> 
							<button id="aceptarObservacion17" class="btn" onclick="ocultar(17)">Aceptar</button>
						</div>
					</p>
					<div id="mensaje17" style="width: 200px;"></div>
				</div>
			</div>


			<button class="btn btn-success" id="enviarEncuesta">Terminar</button>


			<div class="col-md-12 text-center"></div>

			<div class="space-50"></div>

		</div>






	</div>
	</div>

	</div>
	<footer class="footer">
		<div class="container">
			<nav class="pull-left">
				<ul>

				</ul>
			</nav>
			<div class="copyright pull-center">
			<b>SENA - Centro de la Industria, la Empresa y los Servicios - Sede Industria</b><br>© 2017 Copyright - Desarrollado por ADSI-1197515
				
			</div>
		</div>
	</footer>

</font></body>
<!--   Core JS Files   -->
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/nouislider.min.js" type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="assets/js/material-kit.js" type="text/javascript"></script>

<script src="assets/js/encuesta.js" type="text/javascript"></script>


</html>
